# Core
pandas==2.2.2
numpy==1.26.4
sqlalchemy==2.0.30
#psycopg2-binary==2.9.9

# ML / Anomaly
scikit-learn==1.5.0

# Causal Inference (optional but recommended)
# dowhy==0.11.1
# econml==0.15.1

# HTTP / API
requests==2.32.3

# Dashboard
streamlit==1.35.0
plotly==5.22.0

# dbt
dbt-postgres==1.8.1

# Utilities
python-dotenv==1.0.1